
doctype 5
html
  head
    title
    meta(charset="utf-8")
    link(rel="stylesheet",href="page.css")
    //- script(src="http://183.147.50.104:7777/doodle.js")
    //- script(src="http://jiyinyiyong.github.com/lilyturf/page/lilyturf.js")
    script(src="require.js")
    script(src="main.js")
  body