::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  width: 4px;
  background: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
  background: rgba(140,210,217,0.7);
  border-radius: 2px;
}
::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}
body {
  margin: 0px;
  font-family: Monaco, monospace;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 0px 0px 4px #ccc;
}
#page {
  margin: 80px 100px;
  padding: 60px 40px;
}
